<div class="row">
    <div class="btn-toolbar pb-2 justify-content-center">
        <div class="btn-group btn-group-sm ">
            <button href="#a" class="btn btn-primary">A</button>
            <button class="btn btn-dark">B</button>
            <button class="btn btn-primary">C</button>
            <button class="btn btn-dark">D</button>
            <button class="btn btn-primary">E</button>
            <button class="btn btn-dark">F</button>
            <button class="btn btn-primary">G</button>
            <button class="btn btn-dark">H</button>
            <button class="btn btn-primary">I</button>
            <button class="btn btn-dark">J</button>
            <button class="btn btn-primary">K</button>
            <button class="btn btn-dark">L</button>
            <button class="btn btn-primary">M</button>
            <button class="btn btn-dark">N</button>
            <button href="#0" class="btn btn-primary">O</button>
            <button class="btn btn-dark">P</button>
            <button class="btn btn-primary">Q</button>
            <button class="btn btn-dark">R</button>
            <button class="btn btn-primary">S</button>
            <button class="btn btn-dark">T</button>
            <button class="btn btn-primary">U</button>
            <button class="btn btn-dark">V</button>
            <button class="btn btn-primary">W</button>
            <button class="btn btn-dark">X</button>
            <button class="btn btn-primary">Y</button>
            <button class="btn btn-dark">Z</button>
        </div>
    </div>
</div>