@import "custom";
@import "~bootstrap/scss/bootstrap";

#rowChart{
  background-color: #f7f7f7;
}

/**
 * ZOOM IMAGE EFFECT ON HOVER // wpRock.fr
 */
.wprock-img-zoom-hover {
  .wprock-img-zoom {
    overflow: hidden;
    position: relative;
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
    img {
      max-width: 100%;
      transition: all 0.8s;
    }
  }
  &:hover {
    .wprock-img-zoom {
      img {
        transform: scale(1.06);
      }
    }
  }
  
.row {
  display: flex;
  flex-wrap: wrap;
}

.row > div[class*='col-'] {
  display: flex;
}