// Variable
$progress-red: #ee5a52;
$primary: #f68d2a;
// Variable
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');
@import "~bootstrap/scss/bootstrap";
@import "summoner";
@import "custom";
@import "world";
@import "ChampionStat";
// Fixer son footer en bas de page avec Flexbox


body{
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container, .container-fluid{
  flex-grow: 1;
}

.progress{
  background-color: $progress-red;
  color: blue;
}

.progress-bar{
  background-color: $blue;
}

.title_league{
  color: $primary;
}

.case{
  height: 110px;
}