{% extends 'base.html.twig' %}

{% block title %}Hello SummonerController!{% endblock %}

{% block body %}
<div class="container">
    {% for message in app.flashes('summoner') %}
        <div id="alert_message" class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {{ form(form) }}
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}